body {
    font-family: "Poppins", sans-serif !important;
}
body::-webkit-scrollbar {
    background-color: #614ea6;
    border-radius: 8 px;
    width: 10px;
}
body::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 8px;
}
