body {
    background-color: #57459b;
}

.login-container {
    width: 60%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-container .login-content {
    width: 100%;
    padding: 8%;
    background: #614ea6;
    color: #fff;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-content {
    max-width: 100%;
    width: 100%;
    padding: 15%;
    margin: auto;
    background-color: #614ea6;

    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container .login-content form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.login-content form .btn-login {
    background-color: #fff;
    color: #614ea6;
    transition: 0.2s ease-in;
}

.login-content form .btn-login:hover {
    background-color: #d83e77ee;
    color: #fff;
}

.options-login {
    margin-top: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.login-container .login-content form {
    width: 80%;
    color: #fff;
}

.login-container .login-content form input {
    margin-top: 8px;
}

.login-container .login-content form button {
    margin-top: 8px;
}

.login-content form .options-login a {
    text-decoration: none;
    color: #fff;
    transition: 0.2s ease-in;
}

.login-content form .options-login a:hover {
    color: #d83e77ee;
}

.icon-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.remove-border {
    border: none !important;
    outline: none !important;
    border-style: none !important;
}

.remove-border:hover {
    border: none !important;
    outline: none !important;
    border-style: none !important;
}
.remove-border:focus {
    border: none !important;
    outline: none !important;
    border-style: none !important;
}

@media only screen and (max-width: 600px) {
    .login-container {
        width: 90%;
    }
    .login-container .login-content form {
        width: 100%;
        color: #fff;
    }
    .options-login {
        display: flex;
        flex-direction: column;
    }
}
