.login-content {
    width: 100%;
    padding: 15%;
    margin: auto;
    background-color: #614ea6;
    height: 100vh;
}

.btn-login {
    background-color: #fff;
    color: #614ea6;
    transition: 0.2s ease-in;
}

.btn-login:hover {
    background-color: #d83e77ee;
    color: #fff;
}

.opcoes-login a {
    text-decoration: none;
    color: #fff;
    transition: 0.2s ease-in;
}

.opcoes-login a:hover {
    color: #d83e77ee;
}
